:root {
  --dark-bg-font: #fff;
  --light-bg-font: #000;
  --red-color: #BF0A30;
  --gold-color: rgb(255, 230, 0);
  --blue-color: #5da6ff;
  --navy-blue-color: #184274;
  --font-lato: "Lato", sans-serif;
  --font-cardo: "Cardo", Sans-serif;
  --border-lines-gray: #424242;
  --border-lines-lightGray: rgb(165, 165, 165);
}

strong{
  font-weight: bolder;
}

red {
  color: var(--red-color);
}

#about_sec {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.5)), url(/assets/images/about-banner.jpg);
  background-position: 53.5% 0%;
  /* background-position: center center; */
  background-repeat: no-repeat;
  background-size: 300% 100%;
  display: flex;
  align-items: baseline;
  position: relative;

  padding-block-start: 20px;
  padding-block-end: 40px;
  padding-inline-start: 5%;
  padding-inline-end: 5%;
}


.info_box {
  width: 100%;
  align-self: flex-end;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

#about_t h3{
  font-weight: 700;
  font-size: 25px;
}

.seperator{
  width: 36px;
  display: flex;
  margin: 0;
  direction: ltr;

  border-width: 2.7px;
  border-style: solid;
  border-color: var(--red-color);

  /* margin: 0px 0px 15px 0px; */
}

#about_txt{
  font-size: 9px;
  font-weight: 700;
  font-family: var(--font-lato);
  text-transform: uppercase;
  letter-spacing: 3.15px;
  color: white;
}

#about_p a{
  color: white;
  text-decoration: none;
}


#about_p a:visited{
  color: white;
}


#about_p a:hover{
  color: var(--red-color);
}

#about_ctn{
  padding-block-start: 40px;
  padding-block-end: 20px;
  padding-inline-start: 5%;
  padding-inline-end: 5%;
}

#about_para_title h3{
  font-size: 25px;
  color: var(--navy-blue-color)
}

#about_paragraph{
  color: #7a7a7a;
  font-size: 16px;

  margin-top: 1rem;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

#about_main_content p{
  margin-top: 0;
  margin-bottom: 1rem;
}

#about_para_ctn img{
  width: 100%;
}

#about_para_2 p {
  margin-top: 0;
  margin-bottom: 1rem;
}

#about_para_2 ul{
  font-family: "Lato", Sans-serif;
  font-size: 16px;
  font-weight: 400;

  padding-left: 2rem;
  
  margin-top: 0;
  margin-bottom: 1rem;
}

#about_para_2 ul li{

  line-height: 1.5;
  letter-spacing: 0.01em;
}

.about_cards {
  padding-left: 0px;
  padding-right: 0px;
}

.card_info {
  /* display: block; */
}

.about_cards .card_ctn{
  border-style: none;
  background-color: #F3f3f3;
}

.about_cards .card_info {
  padding-block-end: 30px;


  gap: 10px 10px;
}

.card_img_ctn {
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
  opacity: 0;
  transition: opacity 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_img_ctn:hover .overlay {
  opacity: 1;
}

.learn-more-btn {
  background: none;
  color: white; /* White text */
  padding: 10px 20px; /* Some padding */
  border: none; /* No border */
  cursor: pointer; /* Pointer cursor on hover */
  font-family: "Lato", Sans-serif;
}

.card_img_ctn:hover {
  cursor: pointer;
}

.about_cards .card_info h4 {
  color: #184274;
  font-size: 20px;
}

.about_cards .card_info a {
  font-size: 9px;
  line-height: 1.2em;
  letter-spacing: 3px;
  color: var(--red-color);

  border-style: none;
}

.about_cards .card_info a:visited {
  color: var(--red-color);
}

.buy_back_sec_ctn {
  display: flex;
  flex-direction: column;
}

.buy_back_sec{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;

  background-image: none;
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}

.buy_back_sec h4{
  font-family: "Lato", Sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.45px;
  color: #6E6E6E;
}

.buy_back_sec h5{
  font-family: var(--font-cardo);
  font-size: 32px;
  font-weight: 500;
  line-height: 1.5;
  color: #003366;
}

.site_menu {
  margin: 0px 0px 20px 0px;
  background-color: #F8F9FA;

  display: flex;
  flex-direction: column;
}

.active_bar {
  border-color: #BF0A30 !important;
  color: #BF0A30;
}

#side_menu li {
  border-left: 4px solid transparent;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 24px;

  list-style-type: none;
  cursor: pointer;
}

#side_menu li a {
  font-family: "Cardo", Sans-serif;
  font-weight: 700;
  line-height: 20px;
}

#menu_img{
  margin-bottom: 40px;
}

#menu_img img{
  max-width: 300px;
}

#menu_extras {
  background-color: #003256;
  padding: 35px 27px 35px 27px;
  margin-bottom: 40px;
  
}
#menu_question_sec {
  
  display: flex;
  flex-direction: column;
  gap: 10px;

}
#menu_extras h5{
  color: #fff;
  font-family: "Cardo", Sans-serif;
  font-size: 22px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.5em;

  margin-bottom: 20px;
}

#menu_para {
  color:  #fff;
  font-family: "Lato", Sans-serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

#menu_para p{
  margin-bottom: 20px;
}

#menu_extras i {
  color:  #fff;
}
#menu_buttons{
  box-sizing: border-box;
}
#menu_extras a {
  font-family: "Lato", Sans-serif;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.2em;
  letter-spacing: 3px;
  
  color: #fff;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #BF0A30;
  border-radius: 0px 0px 0px 0px;

  display: inline-block;
  padding: 15px 30px 15px 30px;
  text-align: center;
  transition: all .3s;
  cursor: pointer;
}

#menu_extras a:hover{
  background-color: #BF0A30;
}